.container-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -96px; 
}
.loader > span {
    display: inline-block;
    background-color: $primary-color;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0 16px;
    transform: translate3d(0);
    animation: bounce 0.6s alternate infinite ;
}
.loader > span:nth-child(2){
    background-color: $second-color;
    animation-delay: 0.2s;
}

.loader > span:nth-child(3){
    animation-delay: 0.4s;
}

@keyframes bounce {
    to {
        width: 32px;
        height: 32px;
        transform: translate3d(0, -32px, 0);
    }
}

.display-none{
    opacity: 0;
    animation: display 3S;
    @keyframes display {
        from {opacity: 1;}
        80% {opacity: 0.8}
        to {opacity: 0}
    }
}

