.loader {
   margin: auto;
   position: fixed;
   top: 0; left: 0; right: 0; bottom: 0;
    
}
.loader > span {
    display: inline-block;
    background-color: $primary-color;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0 16px;
    transform: translate3d(0);
    animation: bounce 0.6s alternate;
    animation-iteration-count: 1;
}
.loader > span:nth-child(2){
    background-color: $second-color;
    animation-delay: 0.2s;
}

.loader > span:nth-child(3){
    animation-delay: 0.4s;
}

@keyframes bounce {
    to {
        width: 32px;
        height: 32px;
        transform: translate3d(0, -32px, 0);
    }
}
.main {
    width: 100%;
    height: auto;
    opacity: 0;
    display: none;
    transition: opacity 2s ease-in;
}

