@font-face {
  font-family: "roboto-regular";
  src: (
    "../fonts/Roboto-Regular.ttf"
  );
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto-bold";
  src: (
    "../fonts/Roboto-Bold.ttf"
  );
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "shrikhand";
  src: (
    "../fonts/Shrikhand-Regular.ttf"
  );
  font-weight: normal;
  font-style: normal;
}
