@font-face {
    font-family: "roboto-regular";
    src: ("../public/polices/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "roboto-bold";
    src: ("../public/polices/Roboto-Bold.ttf");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "shrikhand";
    src: ("../public/polices/Shrikhand-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }