.cards {
  display: flex;
  flex-direction: column;
  @media (min-width:$tablette){
  width: 50%;
  }
}
.card {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  margin-bottom: 1.2em;
  @media (min-width:$tablette){
    margin: 10px;
    }
  &__img {
    height: 12rem;
    width: 100%;
    margin-bottom: 0;
    border: transparent solid 0px;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
  }

  &__new {
    background-color: $third-color;
    color: darken($third-color, 50%);
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 1rem;
    right: 0.75rem;
  }

  &__footer {
    padding: 1rem;
    margin-top: 0;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 0 0 1rem 1rem;
    box-shadow: .15rem .15rem .5rem rgba(0,0,0,.125);
  }

  &__content {
    flex: 1;
  }

  &__title {
    margin: 0;
    margin-bottom: 0.5em;
  }

  &__subtitle {
    margin: 0;
  }
  &__heart {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 1rem;
    bottom: 1.7rem;
    font-size: 1.5em;
    opacity: 1;
    transition-duration: 1.8s;
    &:hover {
      opacity:0;
    }
    &--full {
      color: $primary-color;
      opacity: 0;
      transition-duration: 1.8s;
      }
    &--full:hover {
      opacity: 1;
    }
  }
}
.container-card {
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 1.3em;
  @media (min-width:$tablette){
    display: flex;
    flex-flow: row wrap;
  }
}