footer {
  background-color: #2b2b2b;
  color: #fff;
  padding-top: 1.4em;
  padding-bottom: 1.5em;
  h1 {
    font-family: "shrikhand";
    font-size: 1.2em;
    color: #fff;
  }
}
ul {
  list-style: none;
  margin-left: 1.2em;
  li {
    display: flex;
    flex-direction: row;
    height: 1.6rem;
    i {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 0.5rem;
      font-size: 0.8em;
    }
    p {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}
