footer {
  background-color: #2b2b2b;
  color: #fff;
  padding-top: 1.4em;
  padding-bottom: 1.5em;
  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
  }
  h1 {
    font-family: "shrikhand";
    font-size: 1.2em;
    color: #fff;
    margin-left: 1.2em;
    margin-bottom: 0.5em;
    @media (min-width: $tablette) {
      display: flex;
      justify-content: center;
      margin-bottom: 0.8em;
      margin-left: 0;
    }
    @media (min-width: $desktop) {
      align-items: center;
      margin-right: 10px;
      margin-top: 4px;
      margin-left: 1.2em;
    }
  }

  ul {
    list-style: none;
    margin-left: 1.2em;
    margin-right: 1.2em;
    @media (min-width: $tablette) {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    @media (min-width: $desktop) {
      width: 100%;
    }
  }

  li {
    display: flex;
    flex-direction: row;
    height: 1.6rem;
    i {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 0.5rem;
      font-size: 0.8em;
    }
    p {
      margin-top: auto;
      margin-bottom: auto;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
    a {
      text-decoration: none;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
