.menu {
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
  &__header {
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    padding: 2.5rem 1rem 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-family: shrikhand;
    font-size: 1.8em;
  }
  &__heart {
    font-size: 1.6em;
  }
  &__subtitle {
    font-size: 1em;
    font-weight: 100;
    margin-left: 0.5rem;
    margin-top: 2.6em;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    &::after {
      content: "";
      width: 3rem;
      height: 0.25rem;
      background-color: $third-color;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}
.container {
  max-width: 1280px;
  margin: auto;
  padding-right: 3%;
  padding-left: 3%;
}
.menuItem {
  background-color: #fff;
  padding: 0.9rem;
  display: flex;
  justify-content: space-between;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  &__text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__title {
    margin-bottom: 0.4em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__subtitle {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__price {
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
  }
}
.container-button {
  display: flex;
  justify-content: center;
}
