.menu {
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
  &__header {
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    padding: 2.5rem 1rem 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width:$tablette) {
      margin-top: 0;
      border-radius: 0 0 0 0;
    }
  }
  &__title {
    font-family: shrikhand;
    font-size: 1.8em;
    margin-right: 2.1em;
    @media (max-width:391px){
      font-size: 1.6em;
    }
  }
  &__heart {
    @include heart-empty;
    right: 1.4em;
    top: 1.6em;
    font-size: 1.6em;
    @media (min-width:$tablette){
      right: 23%;
      top: 1.2em;
      font-size: 2em;
    }
    &:hover {
      opacity: 0;
    }
    &--full {
      @include heart-full;
      &:hover {
        opacity: 1;
      }
    }
  }
  
  &__subtitle {
    font-size: 1em;
    font-weight: 100;
    margin-left: 0.5rem;
    margin-top: 2.6em;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    &::after {
      content: "";
      width: 2.5rem;
      height: 0.25rem;
      background-color: $third-color;
      position: absolute;
      left: 0;
      bottom: 0;
      @media (min-width:$tablette){
        display: none;
      }
    }
    @media (min-width:$tablette){
      @include flex-center;
      text-decoration: underline 0.25rem $third-color;
    }
  }
  @media (min-width:$tablette){
    border-radius: 0 0 0 0;
  }
}
.container {
  margin: auto;
  padding-right: 3%;
  padding-left: 3%;
  @media (min-width:$tablette) {
    @include flex-center;
    flex-direction: column;
    margin-top: 0;
    border-top: 6px solid $third-color;
  }
}
.menuItem {
  background-color: white;
  padding: 0.9rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear 0.6s;
  transition: all 0.6s ease;
  animation-fill-mode: both;
  transform: scale(0);

  &__text {
    line-height: 1.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
  }
  &__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__subtitle {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__price {
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
    margin-right: 1em;
  }
  &__choice {
    background-color: $third-color;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    @include flex-center;
    transition-duration: 0.5s;
  }
  &:hover &__choice {
    margin-right: -1rem;
  }

  &__wrapIcon {
    height: 1.6rem;
    width: 1.6rem;
    background-color: white;
    @include flex-center;
    border-radius: 100px;
    transform: rotate(360deg);
    transition-duration: 0.7s;

  }

  &:hover &__wrapIcon {
    transform: rotate(0);
  }

  &__icon {
    color: $third-color;
    margin: auto;
    display: flex;
  }
  @media (min-width:$tablette) {
    width: 500px;
  }
  @media (min-width:$tablette) {
    width: auto;
  }
}
.container-button {
  @include flex-center;
}
@keyframes itemAppear {
  0% {
      transform: scale(0);
      margin-top: 2rem;
  }
  2% {
    transform: scale(1);
    margin-top: 2rem;
  }
  100% {
      transform: scale(1);
      margin-top: 1rem;
  }
}
.delay-0 {
  animation-delay: 0s;
}
.delay-1 {
  animation-delay: 0.2s;
}
.delay-2 {
  animation-delay: 0.4s;
}
.delay-3 {
  animation-delay: 0.6s;
}
.delay-4 {
  animation-delay: 0.8s;
}
.delay-5 {
  animation-delay: 1s;
}
.delay-6 {
  animation-delay: 1.2s;
}
.delay-7 {
  animation-delay: 1.4s;
}
.delay-8 {
  animation-delay: 1.6s;
}
.delay-9 {
  animation-delay: 1.8s;
}
.container-menu {
  @media (min-width:$tablette){
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width:$desktop){
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 96%;
  }
  &__submenu {
    @media (min-width:$desktop){
      width: 30%;
    }
  }
}
