.location-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #ececec;
  }
  nav h3 {
    margin-left: 20px;
    font-size: 1em;
  }
  .exploration {
    background-color: #f6f6f6;
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 35psx;
    h2 {
      margin-top: 0%;
      margin-bottom: 0.7em;
    }
    p {
      font-size: 1.1em;
      color: #2b2b2b;
      font-weight: lighter;
    }
  }