section {
    padding-top: 30px;
    margin-bottom: auto;
  }
  section h2 {
    margin-left: 16px;
  }
  .tutos {
    padding-left: 16px;
    padding-right: 20px;
    margin-bottom: 70px;
    list-style: none;
    counter-reset: compteListe;
  }

  ol h3 {
    font-size: 1em;
    margin-left: 10px;
  }
  section i {
    margin-left: 10px;
    margin-right: 15px;
  }